@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a su Agenda Web</h1>
    <p>Esta pagina fue construida con tecnologia .NET Core</p>
</div>
